<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <title>Kanban Board</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav d-flex align-items-between">
    <li class="nav-item">
      <a class="nav-link" href="#">SKB</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/auth/logout}">Logout</a>
    </li>
  </ul>
</nav>

<header class="container padding mt-5 alert alert-primary">
  <h1 class=" text-center">Simple Kanban Board</h1>
  <h3  th:text="${message}" class="text-white text-center"> </h3>
  <h4 class="text-center"  th:text="${'Team: ' + user.team}"></h4>
</header>
<div class="container padding mt-4">
  <div class="d-flex flex-row flex-wrap text-center">
    <div class="col-xs-12 col-sm-6 col-md-4 card shadow mt-4 bg-light">
      <h1 class="text-primary">TO DO</h1>
      <hr class="my-4">
      <div class = "alert border padding bg-white shadow" th:each="t : ${tasks}" th:if="${t.position.equals('todo')}">
        <h4 class="text-primary"  th:text="${t.body}"></h4>
<!--        <h4 class="text-primary"  th:text="${t.user.team}"></h4>-->
        <a th:href="@{/edit/{id}(id=${t.id})}" class="btn btn-outline-primary"><i class="fas fa-user-edit ml-2"></i></a>
        <a th:href="@{/delete/{id}(id=${t.id})}" class="btn btn-outline-primary"><i class="fas fa-user-times ml-2"></i></a>
        <a th:href="@{/doing/{id}(id=${t.id})}" class="btn btn-outline-primary"><i class="fas fa-arrow-right ml-2"></i></a>
      </div>
      <form th:action="@{/createTask/{position}(position=${'todo'})}" th:object="${task}" method="post">
        <input class="form-control btn-outline-primary btn-block" type="text" name="task" th:field="*{body}">
        <input class="form-control btn-outline-primary btn-block" type="hidden" name="task" th:field="*{position}">
        <input class="btn btn-outline-primary" type="submit" value="Add Task">
      </form>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 card shadow mt-4 bg-light">
      <h1 class="text-primary">DOING</h1>
      <hr class="my-4">
      <div class = "alert border padding bg-white shadow" th:each="t : ${tasks}" th:if="${t.position.equals('doing')}">
        <h4 class="text-primary" th:text="${t.body}"></h4>
        <a th:href="@{/todo/{id}(id=${t.id})}" class="btn btn-outline-primary"><i class="fas fa-arrow-left ml-2"></i></a>
        <a th:href="@{/edit/{id}(id=${t.id})}" class="btn btn-outline-primary"><i class="fas fa-user-edit ml-2"></i></a>
        <a th:href="@{/delete/{id}(id=${t.id})}" class="btn btn-outline-primary"><i class="fas fa-user-times ml-2"></i></a>
        <a th:href="@{/done/{id}(id=${t.id})}" class="btn btn-outline-primary"><i class="fas fa-arrow-right ml-2"></i></a>
      </div>
      <form th:action="@{/createTask/{position}(position=${'doing'})}" th:object="${task}"  method="post">
        <input class="form-control btn-outline-primary btn-block" type="text" name="task" th:field="*{body}">
        <input class="form-control btn-outline-primary btn-block" type="hidden" name="task" th:field="*{position}">
        <input class="btn btn-outline-primary text-primary" type="submit" value="Add Task">
      </form>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 card shadow mt-4 bg-light">
      <h1 class="text-primary">DONE</h1>
      <hr class="my-4">
      <div class = "alert border padding bg-white shadow" th:each="t : ${tasks}" th:if="${t.position.equals('done')}">
        <h4 class="text-primary"  th:text="${t.body}"></h4>
        <a th:href="@{/doing/{id}(id=${t.id})}" class="btn btn-outline-primary"><i class="fas fa-arrow-left ml-2"></i></a>
        <a th:href="@{/edit/{id}(id=${t.id})}" class="btn btn-outline-primary"><i class="fas fa-user-edit ml-2"></i></a>
        <a th:href="@{/delete/{id}(id=${t.id})}" class="btn btn-outline-primary"><i class="fas fa-user-times ml-2"></i></a>
      </div>
      <form th:action="@{/createTask/{position}(position=${'done'})}" th:object="${task}" method="post">
        <input class="form-control btn-outline-primary btn-block" type="text" name="task" th:field="*{body}">
        <input class="form-control btn-block" type="hidden" name="task" th:field="*{position}">
        <input class="btn btn-outline-primary text-primary" type="submit" value="Add Task">
      </form>
    </div>
  </div>
</div>
<footer class="container mt-4 text-center">
  <p>Simple Kanban Board © 2021</p>
</footer>
</body>
</html>